* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#hero {
    width: 100vw;
    position: relative;
    height: 100vh;

}

/* navbar ----- css -*/

#hero #navbar {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #dadada;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

}

#navbar .navleft {
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
}

#navbar .navright {
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
}


/* logo display props */
#navbar .logo {
    display: flex;
    align-items: center;
}



/* myntra logo in navbar*/
.logo img {
    position: absolute;
    width: 3.9vw;
    height: 2.8vw;
    left: 4vw;

}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.8vw;
    position: absolute;
    left: 12vw;
    top: -6px;


}

#navbar ul li {
    font-size: 1vw;
    font-weight: 750;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif;
    padding-bottom: 19px;

}

#navbar ul .men:hover {
    border-bottom: 3px solid rgb(254, 2, 2);
}

#navbar ul .women:hover {
    border-bottom: 3px solid #fb56c1;
}

#navbar ul .kids:hover {
    border-bottom: 3px solid orange;
}

#navbar ul .home:hover {
    border-bottom: 3px solid rgb(218, 194, 7);
}

#navbar ul .beauty:hover {
    border-bottom: 3px solid #0db7af;
}

.navright .search {
    position: absolute;
    right: 23vw;


}

.navright .search i {
    position: absolute;
    right: 28vw;
    top: 7px;
    font-size: 20px;

}

.navright .search input {

    padding: 8px 50px;
    width: 30vw;
    border-radius: 5px;
    border-style: none;
    background-color: #dadada;
    outline: none;
    font-size: 15px;
    color: #4b4949;

}

.navright .profile {
    position: absolute;
    right: 6vw;
    display: flex;
    gap: 3vw;
}

.navright .profile i {
    color: #111;
    font-size: 25px;
}

.item-list {
    list-style: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    gap: 20px;
    display: flex;
    top: 30px;

}

.profile .icon {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile .icon li {
    font-size: 14px;
    margin-top: 3px;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

#heading{
    position: absolute;
    top: 85%;
    left: 3vw;
}


/* banner image css --*/

#hero #banner {
    position: absolute;
    top: 120px;
    width: 100vw;
    height: 67vh;

}

#banner .banner-img {
    background-image: url("./shoes-banner.webp");
    width: 100%;
    height: 85%;
    object-fit: cover;
    background-size: 100% 100%;
    animation: slider 15s linear infinite;
}

@keyframes slider {
    0% {

        background-image: url("./images/./shoes-banner.webp");
    }

    25% {

        background-image: url("./images/./banner.jpg");
    }

    50% {

        background-image: url("./images/./trolly-banner.jpg");

    }

    75% {

        background-image: url("./images/./girl-banner.webp");
    }


    100% {

        background-image: url("./images/./girl-banner2.webp");
    }
}


#heading .heading-line h1{
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif; 
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2.1rem;
    color: #4b4949;
}


#section{
    position: relative;
    width: 100vw;
}

#products{
    position: absolute;
    height: 40vh;
    width: 100vw;
    display: flex;
}
#products .elem{
    width: 100%;
}
#products .elem img{
width: 16.5vw;
height: 22vw;
object-fit: cover;
object-position: center;

}

#section #brand{
    position: absolute;
    top: 55vh;
    left: 3vw;
    }
    
    #brand .heading-line h1{
        text-transform: uppercase;
        font-family: 'Assistant', sans-serif; 
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 2.1rem;
        color: #4b4949;
    }

    #products2{
        position: absolute;
        height: 40vh;
        width: 100vw;
        display: flex;
        top: 70vh;
    }
    #products2 .elem{
        width: 100%;
    }
    
    #products2 .elem img{
    width: 16.5vw;
    height: 22vw;
    object-fit: cover;
    object-position: center;
    
    }

    #section #category{
        position: absolute;
        top: 125vh;
        left: 3vw;
        }
    
    #category .heading-line h1{
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif; 
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2.1rem;
    color: #4b4949;
}

#products3{
    position: absolute;
    height: 40vh;
    width: 100vw;
    display: flex;
    top: 138vh;
}

#products3{
    position: absolute;
    height: 40vh;
    width: 100vw;
    display: flex;
    top: 138vh;
}

#products3 .elem img{
    width: 16.5vw;
    height: 22vw;
    object-fit: cover;
    object-position: center;
    
    }

    #products4{
        position: absolute;
        height: 40vh;
        width: 100vw;
        display: flex;
        top: 185vh;
    }
    
    #products4 .elem img{
        width: 16.5vw;
        height: 22vw;
        object-fit: cover;
        object-position: center;
        
        }